<!-- file_management/upload_file_modal.html -->
<div class="modal fade" id="uploadFileModal" tabindex="-1" aria-labelledby="uploadFileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadFileModalLabel">Upload File</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="uploadFileForm" method="post" enctype="multipart/form-data" action="{% url 'upload_file' parent_id=parent_folder.id|default:0 %}">
                    {% csrf_token %}
                    <input type="file" name="file" class="form-control mb-3" required>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
        </div>
    </div>
  </div>
  