<!-- Create Subfolder Modal -->
<div class="modal fade" id="createSubFolderModal{{ folder.id }}" tabindex="-1" aria-labelledby="createSubFolderModalLabel{{ folder.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSubFolderModalLabel{{ folder.id }}">Create Subfolder in "{{ folder.name }}"</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'create_folder_nested' folder.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="subfolderName{{ folder.id }}">Subfolder Name</label>
                        <input type="text" class="form-control" id="subfolderName{{ folder.id }}" name="name" required>
                    </div>
                    <button type="submit" class="btn btn-success">Create Subfolder</button>
                </form>
            </div>
        </div>
    </div>
</div>
